.currency-btns{
    display: flex;
   justify-content: flex-end;
}


.currency-btns button {
    margin-right: 10px;
    background-color: lightgrey;
    padding: 5px;
    border: 1px solid lightgrey;
    border-radius: 4px;
    cursor: pointer;
}
