.currency-btns{
    display: flex;
   justify-content: flex-end;
}
 .btn-active{
    background-color: orange;
    border: 1px solid orange;
    color: #fff;
}

.currency-btns button {
    margin-right: 10px;
    background-color: lightgrey;
    padding: 5px;
    border: 1px solid lightgrey;
    border-radius: 4px;
    cursor: pointer;
}
