*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.flexbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.wrapper{
    margin-left: 20px;
    margin-right: 20px;
    max-width: 1024px;
    margin: 0 auto;
}
.title {
    font-size: 36px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 30px;
    margin-bottom: 50px;
}